@media print {

    body {
        background-color: white;
        font-family: 'Gyre Adventor', 'Calibri', sans-serif;
        width: 64em;
        margin: 0 auto;
        align-items: center;
        height: 100%;
    }

    .section .header {
        margin: .5em 0;
        background-color: #19414b;
        box-shadow:  inset 0 0 0 1000px #19414b;
        text-transform: uppercase;
        color: white;
        padding: .5em;
      }
}