body {
    background-color: grey;
    font-family: 'Gyre Adventor', 'Calibri', sans-serif;
    width: 64em;
    margin: 0 auto;
}

header {
    margin: 0 auto;
    width: 64rem;
    text-align: center;
}

#contact {
    margin: 0 auto;
    text-align: center;
}

#contact ul {
    margin: 0;
    padding: 0;
}
#contact ul#items li {
    display: inline;

}

#contact ul#items li:not(:last-child):after {
    content: "|"
}

.page {
    page-break-after: always;
    position: relative;
    width: 8.5in;
    height: 11in;
  }

  .section .header {
    background-color: #19414b;
    text-transform: uppercase;
    color: white;
    padding: .5em;
  }

  .bold {
      font-weight: bold;
  }

  #summary .body {
      background-color: white;
  }

  .important {
      font-weight: bold;
  }

  .title {
    font-weight: bold;
  }

  .time-frame {
  }

  hr {
    border-bottom: 1px solid black;
    margin: 1em 5em;
  }

  .graduation {  }

  .emphasize {
    font-style:italic
  }

  .underline {
    text-decoration: underline;
  }

  .right {
    float: right;
  }